.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.circularProgressBar {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  position: relative;
}

.circleBackground {
  stroke: #ddd;
}

.circleProgress {
  stroke: #4caf50;
  transition: stroke-dashoffset linear;
}

.gif, .pauseIcon {
  font-size: 4rem;
  max-width: 80%;
  position: absolute;
  transform: rotate(90deg);
  z-index: -1;
  border-radius: 2rem;
}

.joke {
  position: fixed;
  z-index: 1000;
}